spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ai_task_db?serverTimezone=UTC
    username: root
    password: Root@123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  server:
    error:
      include-message: always
      include-stacktrace: always
